h2{
    background-color: #5599DD;
    color: #DDDDDD;
    padding-top: 5px;
    padding-left: 10px;
}
.exp{
    text-indent:40px;
}
#email{
    text-decoration:underline;
    font-style:italic;
}
body{
    font-family: Ubuntu,Helvetica;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
#cabecalho{
    text-align: center;
}